  @import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@1,300&family=Crimson+Text:wght@600&family=Libre+Baskerville&family=Roboto&display=swap');


body{
    background-color: rgb(243, 226, 226);
}  

h1{
    font-family: 'Libre Baskerville', serif;

}
         .btn-grad {
            background-image: linear-gradient(to right, #7b4397 0%, #dc2430  51%, #7b4397  100%);
            margin-top: 50px;
            padding: 15px 45px;
            text-transform: uppercase;
            transition: 0.5s;
            width: 40%;
            margin-left: 29%;
            background-size: 200% auto;
            color: white;     
            box-shadow: 0 0 20px #eee;
            border-radius: 10px;
            display: block;
          }

          .btn-grad:hover {
            background-position: right center; /* change the direction of the change here */
            color: #fff;
            text-decoration: none;
          }


.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

